{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue mes amis</h1>
    <p>Amet nostrud deserunt minim commodo cupidatat ex dolore laborum fugiat consectetur deserunt labore Lorem.</p>
    <p>Amet nostrud deserunt minim commodo cupidatat ex dolore laborum fugiat consectetur deserunt labore Lorem.</p>
{% endblock %}
